{
	"locale": "$station.location",
	"language": "en-us",
	"generator": "weewx $station.version",
	"ttl": "$current.interval.string('')",
	"latitude": "$station.latitude_f",
	"longitude": "$station.longitude_f",
	"time": "$current.dateTime.raw",
	"outside_temp": "$current.outTemp.raw",
	"outside_temp_unit": "$unit.unit_type.outTemp",
	"inside_temp": "$current.inTemp.raw",
	"inside_temp_unit": "$unit.unit_type.inTemp",
	"wind_chill": "$current.windchill",
	"heat_index": "$current.heatindex",
	"dewpoint": "$current.dewpoint",
	"outside_humidity": "$current.outHumidity.raw",
	"inside_humidity": "$current.inHumidity.raw",
	"barometer": "$current.barometer.raw",
	"barometer_unit": "$unit.unit_type.barometer",
	"wind_speed": "$current.windSpeed.raw",
	"wind_speed_unit": "$unit.unit_type.windSpeed",
	"wind_direction": "$current.windDir",
	"rain_rate": "$current.rainRate",
	"total_rain": "$day.rain.sum"
}
