{
	"locale": "$station.location",
	"language": "en-us",
	"generator": "weewx $station.version",
	"ttl": "$current.interval.string('')",
	"latitude": "$station.latitude_f",
	"longitude": "$station.longitude_f",
	"time": "$current.dateTime.raw",
	"outside": {

		"outside_temp": "$current.outTemp.round(2).raw",
		"outside_temp_unit": "$unit.label.outTemp",
		"outside_humidity": "$current.outHumidity.round(2).raw",
		"outside_humidity_unit": "$unit.label.outHumidity",
		"wind_chill": "$current.windchill",
		"wind_chill_unit": "$unit.label.windchill",
		"heat_index": "$current.heatindex",
		"heat_index_unit": "$unit.label.heatindex",
		"dewpoint": "$current.dewpoint",
		"dewpoint_unit": "$unit.label.dewpoint",
		"wind_speed": "$current.windSpeed.round(2).raw",
		"wind_speed_unit": "$unit.unit_type.windSpeed",
		"wind_direction": "$current.windDir",
		"rain_rate": "$current.rainRate",
		"total_rain": "$day.rain.sum"
		"barometer": "$current.barometer.round(2).raw",
		"barometer_unit": "$unit.unit_type.barometer"
	},
	"inside": {
		"inside_temp": "$current.inTemp.round(2).raw",
		"inside_temp_unit": "$unit.label.inTemp",
		"inside_humidity": "$current.inHumidity.round(2).raw",
		"inside_humidity_unit": "$unit.label.inHumidity"
	}
}
